.use{
    position: relative;
    overflow: hidden;

    .bg1{
        position: absolute;
        right: -40%;
        top: -30%;
    }

    .bg2{
        position: absolute;
        left: -40%;   
    }

    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        
        
        .top{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            z-index: 99;
            
            &>*{
                border-top: .1rem solid #FFFFFF24;
                padding: 4rem;
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                flex-wrap: wrap;

    
    
            h2{
                color: #FFF;
                font-size: 2.9rem;
                font-style: normal;
                font-weight: 600;
                line-height: 111%;
            }
    
            p{
                color: #FFF;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
    
                span{
                    color: #EE4545;
                }
            }
            
           }
    
           &>:first-child{
            border-right: .1rem solid #FFFFFF24;;
           }
        }
        

        .bottom{
            display: flex;
            flex-direction: column;
            z-index: 99;
            gap: 2rem;


      
            .bottom-top{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 4rem;
    
                .left{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 2rem;
    
                    h2{
                        color: #FFF;
                        font-size: 4.4rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 111%;
                    }
    
                    p{
                        color: #FFF;
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
    
                .right{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }
           
            .bottom-bottom{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
    
                &>*{
                    border-top: .1rem solid #FFFFFF24;
                    padding: 4rem;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    flex-wrap: wrap;
        
        
                    h2{
                        color: #FFF;
                        font-size: 2.9rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 111%;
                    }
            
                    p{
                        color: #FFF;
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
            
                        span{
                            color: #EE4545;
                        }
                    }
                }

                &>:first-child{
                    border-right: .1rem solid #FFFFFF24;;
                }
            }
        }
    }
}


@media screen and (max-width: 480px) {
    .use{
       .container{
        .bottom{
            .bottom-top{
                flex-direction: column;
            }
        }
       }
    }
}
