

.footer{
    position: relative;
    overflow: hidden;

    .container{
        padding: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        gap: 2rem;


        h2{
            color: #FFF;
            font-size: 4.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 111%;

        }

        p{
            width: 76%;
            font-size: 1.5rem;
            font-style: normal;
            line-height: normal;
            text-align: center;
            color: gray;


            span{
                color: #EE4545
            }
        }

        button{
            cursor: pointer;
            position: relative;
            display: flex;
            width: 25.2rem;
            height: 5.2rem;
            padding: 1.3rem 2.0rem;
            justify-content: center;
            align-items: center;
            gap: .4rem;
            flex-shrink: 0;
            color: #FFFFFF;
            border: none;

            color: #FFF;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            

            border-radius: 4.5rem;
            background: #EE4545;
        }
        

        .line{
            width: 100%;
            height: .5px;
            background-color: rgba(128, 128, 128, 0.5);
            border: none;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .content{
            width: 100%;
            // border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            .popular-searches{
                // border: 1px solid red;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 4rem;
                margin-bottom: 4rem;

                p{
                    // border: 1px solid red;
                    width: 70%;
                    font-size: 1.5rem;
                    font-style: normal;
                    line-height: normal;
                    text-align: center;
                    color: gray;
                }
            }

    
            ul{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;
                font-size: 1.5rem;
                font-style: normal;
                line-height: normal;
                text-align: center;
                color: gray;

                li{
                    transition: all .2s linear;
                    &:hover{
                        color: #fff;
                    }
                }
            }

            .copyright{
                margin: 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 1.5rem;
                    line-height: 3.3rem;
                    letter-spacing: 0em;
                    text-align: center;
                    color: gray;
                }
            }
        }
    }

}