.footer{
    position: relative;
    overflow: hidden;


    .container{
        padding: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        gap: 2rem;


        h2{
            color: #FFF;
            font-size: 4.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 111%;
            z-index: 99;
            text-align: center;

        }

        p{
            z-index: 99;
            width: 76%;
            font-size: 1.5rem;
            font-style: normal;
            line-height: normal;
            text-align: center;
            color: gray;


            span{
                color: #EE4545
            }
        }
        

        .line{
            z-index: 99;
            width: 100%;
            height: .05rem;
            background-color: rgba(128, 128, 128, 0.5);
            border: none;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .content{
            
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            .popular-searches{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 4rem;
                margin-bottom: 4rem;

                p{
                    width: 70%;
                    font-size: 1.5rem;
                    font-style: normal;
                    line-height: normal;
                    text-align: center;
                    color: gray;
                }
            }

    
            ul{
                z-index: 99;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;
                font-size: 1.5rem;
                font-style: normal;
                line-height: normal;
                text-align: center;
                color: gray;

                li{
                    transition: all .2s linear;
                    &:hover{
                        color: #fff;
                    }
                }
            }

            .copyright{
                margin: 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 1.5rem;
                    line-height: 3.3rem;
                    letter-spacing: 0em;
                    text-align: center;
                    color: gray;
                }
            }
        }
    }

}