.aboutYoutubeAdBlocker{
    .container{
        padding: 10rem 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;

        .content{
            display: flex;
            flex-direction: row;
            gap: 4rem;
            flex-wrap: wrap;

            .left{
                flex: 2;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;

                h2{
                    color: #FFF;
                    font-size: 4.4rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 111%;
                }

                p{
                    color: #FFF;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

            }
            .right{
                flex: 1;
                
                .image {
                    object-fit: contain;
                    width: 100% !important;
                    position: relative !important;
                    height: unset !important;
                  }
            }
        }

        button{
            cursor: pointer;
            width: 100%;
            display: flex;
            padding: 1.3rem 2.0rem;
            justify-content: center;
            align-items: center;
            gap: .4rem;
            flex-shrink: 0;
            color: #FFFFFF;
            border: none;

            color: #FFF;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            

            border-radius: 4.5rem;
            background: #EE4545;
        }
    }
}


@media screen and (max-width: 480px) {
    .aboutYoutubeAdBlocker{
        .container{
           .content{
            flex-direction: column;
           }
        }
    }
}